*{
    padding: 0;
    margin: 0rem;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
   a{
    text-decoration: none;
    color: white;
    } 
}

.nav{
     width: 100%;   
     height: 4rem;
     background-color: #0E2489;
     display: flex;
     flex-direction: row;
     align-items: center;
      :first-child{
          margin-left: 0.5rem;
      }
}


// .menu{
//     height: 20rem;
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
// }

.list{
    width: 100%;
    height: 90%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
list-style: none;
}
.box{
    display: flex;
    justify-content: center;
width: 20rem;
    margin: 2rem;
    padding: 1rem;
    background-color: #0E2489;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;

}

.list-buttons{
    display: flex;
    justify-content: center;
    button{
        margin: 1rem 1rem;
    }
}


.hidden{
    display: none;
}