@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

* {
    padding: 0;
    margin: 0rem;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

body a {

    text-decoration: none;
    color: white;

}

h2 {
    font-size: medium;
}

.nav {
    width: 100%;
    height: 6vh;
    background-color: #0E2489;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.nav :first-child {
    margin-left: 0.5rem;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;

}

.items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.list-container {
    margin-left: 0.5rem;

}

.order-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 4rem;
    border-left-style: solid;
    border-width: 1px;
    border-color: rgb(197, 205, 211);
}

.order-list {
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: #0E2489;
}

.order-list h4 {
    margin-bottom: 1rem;
}

.empty-list h2 {
    margin-top: 1.5rem;
    margin-left: 1rem;
    color: #0E2489;
}

.list {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
}


.box {
    display: flex;
    justify-content: center;
    width: 20rem;
    margin: 2rem;
    padding: 1rem;
    background-color: #0E2489;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;

}

.list-buttons {
    display: flex;
    justify-content: center;
}



.list-buttons button {
    margin: 1rem 1rem;
    background-color: rgb(223, 222, 236);
    color: #0E2489;
}


.delivery-container {
    margin: 2rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    width: 60%;
}



select {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    font-size: medium;
    cursor: pointer;
    padding-left: 1rem;
    width: 9 rem;
    color: #0E2489;
    font-family: 'Noto Serif', serif;
}


.select-container {
    position: relative;
    overflow: hidden;
}

#expand-icon:hover {
    cursor: pointer;
}

.sample-message {
    text-align: center;
}

.nav-title {
    color: white;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    height: 100vh;
}

.button-send {
    color: #0E2489;
}

.component {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.item-component {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0E2489;
}

.item-component h3 {
    font-size: medium;
}

.count-component {
    display: flex;
    align-items: center;
}

.count-component h2 {
    font-size: medium;
}

.count-component button {
    margin: 1rem 1rem;
    padding: 0.2rem;
    background-color: rgb(223, 222, 236);
}

.count-component span {
    font-size: 1rem;
    color: #0E2489;
}

p {
    text-align: center;
}

.delete-button:hover {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .delivery-container {
        width: 100%;
    }

    .list-buttons {
        width: 100%;
    }

    .list-container {
        width: 100%;
        margin-left: 0;
    }

    .order-container {
        display: none;
    }
}