.component{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.item-component{
  width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0E2489;
}

.count-component{
display:flex;
align-items: center;


button{
    margin: 1rem 1rem;
    padding: 0.2rem;
}
}