$base-color: #0E2489;

.nav-title{
    color: white;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    height: 100vh;
}

.button-send{
color: $base-color
}